<div class="center">
    <form [formGroup]="fg" (ngSubmit)="submitForm()" *ngIf="fg">



        <div class="row mt-4">
            <div class="col-2">
                <a (click)="back()" style="cursor: pointer;">
                    <h1><i class="bi bi-arrow-left"></i></h1>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Username
            </div>
            <div class="col-6">
                <input type="text" class="form-control" formControlName="username" placeholder="Username" />
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('username').errors && submitted">
                    {{ fg.controls.username.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                First Name
            </div>
            <div class="col-6">
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('firstName').errors && submitted">
                    {{ fg.controls.firstName.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Last Name
            </div>
            <div class="col-6">
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('lastName').errors && submitted">
                    {{ fg.controls.lastName.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Email
            </div>
            <div class="col-6">
                <input type="text" class="form-control" formControlName="email" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('email').errors && submitted">
                    {{ fg.controls.email.errors?.required?.message }}
                    {{ fg.controls.email.errors?.email?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Birth Date
            </div>
            <div class="col-6">
                <input 
                formControlName="birthDate" 
                placeholder="Birth Date"
                class="form-control"
                bsDatepicker
                [bsValue]="bsValue"
                [maxDate]="minDate"
                [bsConfig]="dateConfig"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('birthDate').errors && submitted">
                    {{ fg.controls.birthDate.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Basic Salary
            </div>
            <div class="col-6">
                <input class="form-control" formControlName="basicSalary" placeholder="Basic Salary " />
                <!-- : {{employeeData.basicSalary | currency:'Rp':'symbol':'3.0'}} -->
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('basicSalary').errors && submitted">
                    {{ fg.controls.basicSalary.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Status
            </div>
            <div class="col-6">
                <select
                  (keydown.enter)="$event.preventDefault()"
                  class="form-control"
                  formControlName="status"
                  placeholder="status"
                >
                  <option value="">Select Role</option>
                  <option value="Single">Single</option>
                  <option value="Marriage">Marriage</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('status').errors && submitted">
                    {{ fg.controls.status.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Group
            </div>
            <div class="col-6">
                <ng-multiselect-dropdown
                    [placeholder]="'Group'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    >
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('group').errors && submitted">
                    {{ fg.controls.group.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
                Description
            </div>
            <div class="col-6">
                <input 
                formControlName="description" 
                placeholder="Description"
                class="form-control"
                bsDatepicker
                [bsValue]="bsValue"
                [maxDate]="minDate"
                [bsConfig]="dateConfig"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <small class="text-danger" *ngIf="fg.get('description').errors && submitted">
                    {{ fg.controls.description.errors?.required?.message }}
                  </small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10"></div>
            <div class="col-2">
                <button type="submit" class="btn btn-block btn-primary btn-save">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>